<!doctype html>
<html>
  <head>
    <title>ADVOCATE Web App</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Advo Web App</h1>
    <form method="POST">
      <textarea name="input_text"></textarea>
      <button type="submit">Generate Output</button>
    </form>
    {% if output_message %}
      <h2>Output:</h2>
      <p>{{ output_message }}</p>
    {% endif %}

    {% if image_url %}
      <h2>Output:</h2>
      <p><img src="{{ image_url }}"></p>
    {% endif %}

  </body>
</html>