<!doctype html>
<html>

<head>
  <title>ADVOCATE Web App</title>
  <link rel="stylesheet" href="static/index.css">
</head>

<body>
  <h1>Advo Web App</h1>
  <form method="POST">
    <textarea name="input_text"></textarea>
    <center>
      <button type="submit">Generate Output</button>
    </center>
  </form>
  {% if output_message %}
  <h2>Output:</h2>
  <p>{{ output_message }}</p>
  {% endif %}

  {% if image_url %}
  <p><img src="{{ image_url }}" class="center"></p>
  {% endif %}

  {% if image_url1 %}
  <h2>Output:</h2>
  <p><img src="{{ image_url1 }}" class="center"></p>
  {% endif %}
  {% if image_url2 %}
  <p><img src="{{ image_url2 }}" class="center"></p>
  {% endif %}


</body>

</html>